<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn" name="cdcp-payment">

	<properties>
		<property name="LOG_HOME">/home/ipos/db-elasticsearch-transfer/logs</property>
		<property name="APP_NAME">db-elasticsearch-transfer</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${LOG_HOME}/${APP_NAME}.log"
			filePattern="${LOG_HOME}/${APP_NAME}-logs/%d{yyyy-MM}/${APP_NAME}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="500MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="RollingFileError" fileName="${LOG_HOME}/${APP_NAME}-error.log"
			filePattern="${LOG_HOME}/${APP_NAME}-error-logs/%d{yyyy-MM}/${APP_NAME}-error-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="500MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<logger name="com.tiger.transfer" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="RollingFile" level="info" />
			<appender-ref ref="RollingFileError" level="error" />
		</logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>